.icon {
    fill: var(--inverted-primary-color);
    margin-right: 20px;
}

.link {
    display: flex;
    align-items: center;
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
