.listBox {
    position: relative;
}

.options {
    position: absolute;
    z-index: 100;
    background: var(--listbox-bg);
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
}

.label {
    margin-right: 4px;
}

.option {
    padding: 10px 20px;
}
